<% include partials/header %>

<h1>You fell in love with: <%= thingVar.toUpperCase() %> </h1>

<% if(thingVar.toLowerCase() === "tusia") { %>
    <p>GOOD CHOICE! TUSIA IS BEAUTIFUL!</p>
<% } else { %>
    <p>BAD CHOICE! SHOULD HAVE BEEN TUSIA!</p>
<% } %>

<p>This is the love.ejs file!</p>
<% include partials/footer %>