<% include partials/header %>

<H1>This is the campgrounds page!</H1>

<% campgrounds.forEach(function(campground){ %>
    <div>
        <h4><%= campground.name %></h4>
        <img src="<%= campground.image %>">
    </div>
<% }); %>

<% include partials/footer %>